.menu-item-user {
	margin: 10px 20px;
	width: 250px;
	height: 360px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
}

.scroll-menu-arrow {
	padding: 20px;
	cursor: pointer;
}

#home-find-quickstay-user-cards img {
	display: block;
	margin: 10px auto;
	height: 120px;
	width: 120px;
	border-radius: 50%;
}
#home-find-quickstay-user-cards-content {
	text-align: center;
	margin: 20px;
	font-size: large;
}
