.card {
	/* border: 1px solid black; */
	height: 300px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
}
.card-img {
	border-bottom: 1px solid #a9a9a9;
	height: 200px;
}
.card-text {
	padding: 10px;
	height: 100px;
}

.card-add p {
	margin: 0;
	font-weight: 1000;
	font-size: large;
}
.card-price p {
	color: blue;
}
.card-price p span {
	font-weight: 1000;
}
