#about-title {
	color: #fbc02d;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 10px;
}
.about-img {
	/* position: relative; */
}
.about-img img {
	width: 60%;
	height: 400px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	z-index: -100;
}
.about-quickstay {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	background-color: white;
	width: 30%;
	border-radius: 10px;
	margin: 0 auto;
	padding: 50px;
	position: relative;
	right: -100px;
	top: -100px;
}
@media screen and (max-width: 768px) {
	.about-img img {
		width: 100%;
		height: 200px;
	}
	.about-quickstay {
		-webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
		-moz-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
		box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
		width: 90%;
		background-color: white;
		border-radius: 10px;
		margin: 10px auto;
		padding: 50px;
		position: relative;
		right: 0;
		top: 0;
	}
}

.about-our-story-title {
	text-align: center;
}
.about-our-story-title p {
	font-size: 2rem;
	margin: 0;
	text-align: center;
}
.about-our-story-title h6 {
	margin: 0;
	color: #fbc02d;
	font-size: 4rem;
}
.about-our-story-text {
	background-color: #ffef98;
	padding: 100px;
	text-align: center;
}
.about-our-story-team-container h5 {
	color: black;
	text-align: center;
	font-size: xx-large;
}
