#about-title {
	color: #fbc02d;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 10px;
}
.about-company {
	position: relative;
}
.about-company img {
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.about-company span {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10vh;
	width: 10px;
	line-height: 1;
}
