.cancel-filter {
	position: absolute;
	right: 25px;
	top: 70px;
	color: #b83227 !important;
	font-size: 50px;
	font-weight: 1000;
	margin-left: 50px;
}
.filter-title-container {
	padding: 10px;
}
.filter-title-container h2 {
	color: black;
}
.tilte-city-name {
	color: #b83227;
}
.filter-content-container {
	padding: 10px;
	position: relative;
	animation: animatetop 0.6s;
}
.sector-btns {
	margin-top: 10px;
}

.sector-rad-btns input {
	display: none;
}
.sector-rad-btns span {
	padding: 10px;
	border: 1px solid #b83227;
	width: 100px;
	text-transform: uppercase;
	position: absolute;
	overflow: hidden;
	line-height: 1;
	text-align: center;
	border-radius: 10px;
}
.sector-rad-btns input:checked + span {
	opacity: 0.2;
}

.sector-btns input:checked {
	background-color: violet;
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
.filter-content-container p {
	margin: 0;
	font-size: large;
	margin-top: 20px;
}
