.cancel-filter {
	position: absolute;
	right: 25px;
	top: 70px;
	color: #b83227 !important;
	font-size: 50px;
	font-weight: 1000;
	margin-left: 50px;
}
.filter-title-container {
	padding: 10px;
	padding-left: 20px;
}
.filter-title-container h3 {
	/* font-size: x-large; */
	color: black;
}
@media screen and (max-width: 768px) {
	.filter-title-container h3 {
		font-size: x-large;
	}
}
@media screen and (max-width: 320px) {
	.filter-title-container h3 {
		font-size: large;
	}
}
.tilte-city-name {
	color: #b83227;
}
.filter-content-container {
	padding: 10px;
	padding-left: 20px;
	position: relative;
	animation: animatetop 0.6s;
}
.sector-btns {
	margin-top: 20px;
}

.sector-rad-btns input {
	display: none;
}
.sector-rad-btns span {
	padding: 10px;
	border: 1px solid #b83227;
	width: 130px;
	text-transform: uppercase;
	position: absolute;
	overflow: hidden;
	line-height: 1;
	text-align: center;
	border-radius: 10px;
}
.sector-rad-btns input:checked + span {
	background-color: #b83227;
	color: white;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
.filter-content-container p {
	margin: 0;
	font-size: large;
	margin-top: 20px;
}
.right-side-filter {
	/* margin-left: 5px; */
	padding-left: 60px;
}
.right-side-filter p {
	font-size: large;
}
.save-filter-btn {
	margin-top: 70px;
}
