.cancel-filter {
	position: absolute;
	right: 25px;
	top: 70px;
	color: #b83227 !important;
	font-size: 50px;
	font-weight: 1000;
	margin-left: 50px;
}
.filter-title-container {
	padding: 10px;
}
.filter-title-container h2 {
	color: black;
}
.tilte-city-name {
	color: #b83227;
}
.filter-content-container {
	padding: 10px;
	position: relative;
	animation: animatetop 0.6s;
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
.filter-content-container p {
	margin: 0;
	font-size: large;
	margin-top: 20px;
}
