.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	background-color: #f2f2f2;
	overflow-x: hidden;
	padding-top: 20px;
	transition: 0.1s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	font-size: 40px;
	margin-left: 50px;
	color: white;
	background-color: #b83227;
	width: 50px;
	height: 100%;
	margin-left: 5px;
}
@media screen and (max-width: 768px) {
	.sidenav .closebtn {
		height: 150%;
	}
	.input-respons-login {
		width: 80%;
	}
}
@media screen and (max-width: 400px) {
	.sidenav .closebtn {
		height: 180%;
		width: 40px;
		padding: 10px;
	}
}
.sidnav-container {
	padding: 30px;
}
.sidnav-container h3 {
	color: #b83227;
}
.sidenav-content {
	margin-top: 20px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
}

#navbar-partition {
	padding-left: 15px;
	letter-spacing: 42px;
	border: 0;
	background-image: linear-gradient(
		to left,
		black 70%,
		rgba(255, 255, 255, 0) 0%
	);
	-webkit-appearance: none;
	background-position: bottom;
	background-size: 50px 1px;
	background-repeat: repeat-x;
	background-position-x: 35px;
	width: 220px;
	background-color: transparent;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
