.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	background-color: #f2f2f2;
	overflow-x: hidden;
	padding-top: 20px;
	transition: 0.1s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	font-size: 36px;
	margin-left: 50px;
	color: white;
	background-color: #b83227;
	width: 30px;
	height: 100%;
	margin-left: 5px;
}
@media screen and (max-width: 768px) {
	.sidenav .closebtn {
		height: 150%;
	}
}
.sidnav-container {
	padding: 30px;
}
.sidnav-container h3 {
	color: #b83227;
}
.sidenav-content {
	margin-top: 20px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
}
