.mybookings-container {
	padding: 10px;
}
/* .animate {
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
} */
.mybookings-room-cards {
	/* transform: scale(0.8); */
	margin-top: 20px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
}
/* .mybookings-room-cards:hover {
	transform: scale(1);
} */
.mybookings-room-img-container img {
	width: 100%;
	/* height: 150px; */
}
.mybookings-room--details-container {
	padding: 20px;
}
.mybookings-room--details-container h5 {
	font-size: large;
	font-weight: 800;
	color: black;
}
.mybookings-room--details-container p {
	margin: 0;
}
