@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&display=swap");
.footer-bg-img {
	position: relative;
	background-color: #ff3333;
	/* height: 100%; */
}

#footer-bg-img-img {
	width: 100%;
	height: 600px;
	opacity: 0.4;
}
@media screen and (max-width: 993px) {
	#footer-bg-img-img {
		height: 850px;
	}
}
.footer-bg-text {
	position: absolute;
	top: -1px;
	margin-top: 5%;
	padding: 20px;
	width: 100%;
}

.footer-bg-text-left p {
	margin: 0;
	color: white;
	font-weight: 100;
	font-family: Arial, Helvetica, sans-serif;
}
.footer-bg-text-left-address h1 {
	color: white;
	font-family: "Nunito Sans", sans-serif;
}
.footer-bg-text-left-contact {
	margin-top: 20px;
}
.footer-bg-text-left-contact i {
	color: white;
	margin-top: auto;
	margin-bottom: auto;
}
.footer-bg-text-left-stay-in-touch {
	margin-top: 20px;
}
.footer-bg-text-left-stay-in-touch h3 {
	color: white;
}
.footer-bg-text-left-stay-in-touch img {
	padding: 10px;
	width: 10%;
	margin: 0 10px;
}
.footer-bg-text-right {
	text-align: center;
}
.footer-bg-text-right h1 {
	text-align: center;
	color: white;
}
