@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
body {
	font-family: "Roboto", sans-serif;
	color: black;
}
.flat-det-container {
	align-content: center;
}

.flat-img-container {
	/* background-color: #e9ecef; */
	padding: 5px;
	z-index: -10;
}
.flat-img {
	/* border: 1px solid black; */
	/* height: 500px; */
	background-color: white;
}

.flat-texts button {
	margin-top: 5px;
	width: 100px !important;
	font-size: x-small;
	padding: 5px;
}
.flat-texts p {
	border: 1px solid black;
	background-color: white;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
}
.flat-room-det-container {
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px 20px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
}

.fix-col {
	height: 10px;
	position: sticky;
	top: 0px;
	right: 0px;
}
.flat-icons {
	background-color: white;
	padding: 10px 20px;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
}
.flat-Neighbourhood-container {
	background-color: white;
	padding: 10px 20px;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	margin-bottom: 10px;
}

.flat-nbr p {
	margin: 0;
	font-weight: 1000;
	font-style: normal;
}
.animated {
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
.flat-sharing {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
}
.flat-sharing-active {
	border-left: 10px solid #12cad6;
	opacity: 0.8;
	/* transform: scale(1.1); */
	/* border-radius: 10px; */
}
.flat-sharing p {
	margin: 0;
}
.furnished-btns button {
	width: 200px;
}
.flat-rm-num-container-container {
	padding: 0 40px;
}
.flat-rm-num-container {
	/* border: 1px solid black; */
	-webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 1);
	margin: 10px 0;
	padding: 5px;
	align-content: center;
	text-align: center;
	border-radius: 10px;
	height: 100px;
}
.flat-rm-num-container p {
	margin: 0;
	font-weight: 1000;
	margin-top: 10px;
}

.flat-btns {
	margin-top: 5%;
	padding: 10px;
}
.flat-btns button {
	width: 90%;
}

/* modal styles  */
.modalContent {
	margin-top: 10px;
}
.radBtn {
	padding: 5px;
	position: relative;
	/* padding-left: 20px; */
}
.radBtn input {
	display: none;
}
.radBtn span {
	padding: 3px;
	border: 1px solid #ccc;
	width: 100px;
	position: absolute;
	overflow: hidden;
	line-height: 1;
	text-align: center;
	border-radius: 5px;
}
.radBtn input:checked + span {
	background: #ccf;
	border-color: #ccf;
}
