@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
body {
	font-family: "Roboto", sans-serif;
	color: black;
}
.pg-det-container {
	align-content: center;
}

.pg-img-container {
	background-color: #e9ecef;
	padding: 5px;
	z-index: -10;
}
.pg-img {
	/* border: 1px solid black; */
	/* height: 500px; */
	background-color: white;
}
.pg-texts {
	margin-top: 20px;
}
.pg-texts button {
	width: 150px;
}
.pg-texts p {
	border: 1px solid black;
	background-color: white;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
}
#pg-specs {
}
.room-det {
	margin-top: 10px;
}
.hr {
	/* height: 3.57143rem;
	opacity: 0.1;
	top: 0rem;
	position: relative;
	border-width: 0.5px;
	border-style: solid;
	border-color: rgb(52, 52, 52);
	border-image: initial;
	margin: 0rem 1.42857rem 0rem 4.28571rem; */
}

.fix-col {
	height: 10px;
	position: sticky;
	top: 0px;
	right: 0px;
}
.icons {
	background-color: #e9ecef;
	padding: 10px;
}
.Neighbourhood {
	background-color: #e9efff;
	padding: 10px;
}
.Neighbourhood p {
	font-style: italic;
}
.nbr p {
	margin: 0;
	font-weight: 1000;
	font-style: normal;
}
.animated {
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
.sharing {
	border: 1px solid black;
	padding: 5px;
	margin-top: 10px;
}
.sharing:hover {
	border-left: 10px solid #12cad6;
	opacity: 0.8;
	/* transform: scale(1.1); */
	/* border-radius: 10px; */
}
.sharing p {
	margin: 0;
}
.rm-num-container {
	border: 1px solid black;
	margin-top: 10px;
	padding: 5px;
	align-content: center;
	text-align: center;
	border-radius: 10px;
}
.rm-num-container p {
	margin: 0;
	font-weight: 1000;
}
.rm-num-color {
	border: 1px solid black;
	height: 30px;

	border-radius: 10px;
}
.rm-num-color-active {
	border: 1px solid black;
	height: 30px;

	border-radius: 10px;
	background-color: grey;
}

.pg-btns {
	margin-top: 5%;
	padding: 10px;
}

/* modal styles  */
.modalContent {
	margin-top: 10px;
}
.radBtn {
	padding: 5px;
	position: relative;
	/* padding-left: 20px; */
}
.radBtn input {
	display: none;
}
.radBtn span {
	padding: 3px;
	border: 1px solid #ccc;
	width: 100px;
	position: absolute;
	overflow: hidden;
	line-height: 1;
	text-align: center;
	border-radius: 5px;
}
.radBtn input:checked + span {
	background: #ccf;
	border-color: #ccf;
}
