.pg-img-container {
	background-color: #e9ecef;
	padding: 20px;
	z-index: -10;
}
.pg-img {
	border: 1px solid black;
	height: 500px;
	background-color: white;
}
.pg-texts {
	margin-top: 20px;
}
.pg-texts p {
	border: 1px solid black;
	background-color: white;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
}
.sharing {
	border: 1px solid black;
	padding: 5px;
	margin-top: 10px;
}
.sharing-active {
	border-left: 10px solid blue;
}
.rm-num-container {
	border: 1px solid black;
	margin-top: 10px;
	padding: 5px;
}

.rm-num-color {
	border: 1px solid black;
	height: 30px;

	border-radius: 10px;
}
.rm-num-color-active {
	border: 1px solid black;
	height: 30px;

	border-radius: 10px;
	background-color: grey;
}

.pg-btns {
	margin-top: 30%;
}
