@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
body {
	font-family: "Roboto", sans-serif;
	color: black;
}

.pg-img-container {
	background-color: #e9ecef;
	padding: 20px;
	z-index: -10;
}
.pg-img {
	border: 1px solid black;
	height: 500px;
	background-color: white;
}
.pg-texts {
	margin-top: 20px;
}
.pg-texts p {
	border: 1px solid black;
	background-color: white;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
}
.animated {
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
.sharing {
	border: 1px solid black;
	padding: 5px;
	margin-top: 10px;
}
.sharing:hover {
	border-left: 10px solid blue;
	opacity: 0.8;
	transform: scale(1.1);
	border-radius: 10px;
}
.rm-num-container {
	border: 1px solid black;
	margin-top: 10px;
	padding: 5px;
	align-content: center;
	text-align: center;
	border-radius: 10px;
}

.rm-num-color {
	border: 1px solid black;
	height: 30px;

	border-radius: 10px;
}
.rm-num-color-active {
	border: 1px solid black;
	height: 30px;

	border-radius: 10px;
	background-color: grey;
}

.pg-btns {
	margin-top: 30%;
	padding: 10px;
}
