.icon-container {
	margin-top: 5%;
}
.home-icon img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* margin-top: 20px; */
	width: 40%;
}
.home-icon-text {
	margin-top: auto;
	margin-bottom: auto;
}
.home-icon-text p {
	margin: 0 auto;
	width: 50%;
}
